#banner {
    background-image: url(../imgs/index/bannner.jpg);
    height: 56.5625rem;
    margin-top: calc(8.75rem - 5.3125rem);
}

#banner .container,
#menu .container {
    position: relative;
}

#banner .container>div {
    position: absolute;
    left: 3.375rem;
    top: calc(7.5rem + 5.3125rem);
}

#banner h2,
#banner h2>span {
    font-family: 'Gotham-Ultra';
    font-size: 2.875rem;
    text-transform: uppercase;
}

#banner p {
    max-width: 34.75rem;
    text-align: justify;
    margin: 1.75rem 0 1.5rem;
}

#banner button {
    border: none;
    padding: 1.5rem 2rem;
    background-color: #bd945f;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    font-size: 1.25rem;
}

#menu {
    height: 32.5rem;
    background-color: #f3f3f3;
}

#menu p {
    text-align: center;
}

#menu p>a {
    color: #2c2e53;
    font-family: 'Gotham-Ultra';
}

#menu .container>div {
    position: absolute;
    top: -3.75rem;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

#menu .box-menu {
    padding-top: 2.5rem;
    padding-bottom: 3.25rem;
}

#products {
    padding-top: 4.5rem;
    padding-bottom: 3.875rem;
    background-color: #f3f3f3;
}

#products h2,
#about-us h2 {
    text-align: center;
    text-transform: uppercase;
    color: #2c2e53;
    font-family: 'Gotham-Ultra';
    position: relative;
    margin-bottom: 3.375rem;
}

#products h2::after,
#about-us h2::after {
    content: '';
    height: 0.5rem;
    width: 10rem;
    background-color: #bd945f;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}


#list-product {
    position: relative;
}

#list-product .slick-arrow {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    border: none;
    background-color: #bd945f;
    color: #fff;
    position: absolute;
    top: 30%;
    z-index: 1;
}


#list-product .slick-arrow.slick-prev {
    left: -1.4rem;
}

#list-product .slick-arrow.slick-next {
    left: calc(100% - 1.4rem)
}

#list-product .box-product {
    display: flex;
    justify-content: center;
}

#list-product .box-product h3,
#list-product .box-product p {
    text-align: center;
    margin: 0;
}

#list-product .box-product h3>a {
    color: #2c2e53;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
}

#list-product .box-product .subtitle-product {
    color: #b6b6b6;
}

#list-product .box-product .start-product i {
    color: #bd945f;
    /* background-color: #bd945f; */
}

/* #list-product .box-product p{
    
} */


/* About-us */
#about-us{
    background-image: url(../imgs/ve-chung-toi/bg-about-us.jpg);
    height: 67.375rem;
    /* filter: brightness(50%); */
    position: relative;
}
#about-us::after{
    content: '';
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}
#about-us .container{
    
    position: relative;
    z-index: 2;
}


#about-us-left {
    display: flex;
    justify-content: center;    
}
#about-us-right{
    max-width: 35rem;
}
#about-us-right h3,
#about-us-right h3>span{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}
#about-us-right h3>span,
#about-us-right p>span{
    font-family: 'Gotham-Ultra';
}
#list-img-about-us{
    display: flex;
    justify-content: space-between;
}
#about-us-right p{
    color: #fff;
    text-align: justify;
    font-size: 0.75rem;
}
#about-us-right p>span{
    font-size: 0.75rem;
}
#list-img-about-us :last-child{
    position: relative;
}

#list-img-about-us :last-child::after{
    content: 'Xem thêm >';
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 0.875rem;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
}