*{
    font-family: 'Gotham-Medium';
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a{
    text-decoration: none;
    padding: 0 !important;
}

ul{
    list-style: none;
}

.container{
    max-width: 1282px;
    padding: 0;
}
header{
    padding: 1rem 0 1.75rem 0;
    /* padding-top: 1rem;
    padding-bottom: 1.75rem; */  
}

#header-nav a{
    font-size: 1rem;
    text-transform: uppercase;
    color: #000;
}
#header-nav{
    display: flex;
    align-content: center;
}

#header-nav li{
    padding: 1.7rem;
}

#header-nav ul li:last-child{
    padding-right: 0;
}